body {
	background-color: rgb(250,100,10);
	font-variant: small-caps;
	font-family: times;
	color: rgb(70, 0, 0);
}

header {
	margin: auto;
	margin-bottom: 2px;
	padding: 10px;
	border: 1px solid rgb(10, 10, 10);
	max-width: 960px;
	text-align: center;
}

#articulo {
	margin: auto;
	padding: 10px;
	border: 1px solid rgb(10, 10, 10);
	max-width: 960px;
	font-variant: normal;
}